.account {
  height: 75%;
  width: 5.4rem;
  margin-top: 10px;
  margin-right: 100px;
  font-size: 25px;
  background-color: transparent;
  font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.account:hover {
  /* outline: 0.1rem solid rgb(158, 78, 145); */
  cursor: pointer;
}

/* .account:active {
  background-color: #cf6766;
} */

.account__userName {
  color:black;
}

.account__login {
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 64rem) {
  .account {
    width: 4rem;
    height: 100%;
  }
  .account__login {
    font-size: 0.8rem;
  }
  .account__userName {
    font-size: 0.7rem;
  }
}


@media only screen and (max-width: 48rem) {
  .account {
    width: 2rem;
    height: 80%;
    margin-bottom: .75rem;
  }
  .account__login {
    font-size: 0.4rem;
  }
  .account__userName {
    font-size: 0.3rem;
  }
}