
.product {
 
  background-color: aliceblue;
  margin-left: 300px;
  margin-right: 10px;
  display: inline-block;
}

.product__container { 
  display: inline-block;
  padding: 1.5rem;
  margin-top: 3.5rem;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 0.1rem solid #dee2e8;
  color: #00010a;
  transition: 0.25s ease;
  cursor: pointer;
}

.product__container:hover { 
  transform: scale(1.1);
}
.product__link {  
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
}
.product__image {
  height: 500px;
  width: 400px;
  outline: 0.1rem solid #020008;
  opacity: 1;
  display: inline-block; /* Display divs as inline-block */
  margin-right: 10px; /* Add some margin between the divs */
  box-sizing: border-box; 
}
.product__image:hover{
  opacity: 0.7;
}

.product__price {
  margin-top: 1rem;
}
.product__info{
  padding-right: 100px;
padding-left: 100px;
font-family: cursive;
font-size: 20px;
display: inline-block; 
  box-sizing: border-box; 
  /* display: flex; */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  /* border: 1px solid #ccc; */
}
.info a{
text-decoration: none;
}
.info{
  text-align: center;
  font-size: 30px;
  font-family: protest-revolution;
}
.pageprod{
  display: table;
}
.filterbyshop{
  margin-top: 80px;
  /* margin-left: 10px; */
  position: fixed;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sortlh{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 14px;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
}

.sortfil{
  position: fixed;
  margin-left: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sortlh1{
  font-size: 17px;
  margin-top: 14px;
  /* margin-left: 10px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 48rem) {
  .product {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .product__info > h3 {
    font-size: .5rem;
  }
}